@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #444;
}

form {
  margin-top: 3%;
  height: 70%;
  padding: 2px;
  text-align: center;
}

#iptTime {
  display: block;
  margin: 0 auto;
  height: 40%;
  width: 90%;
  padding: 3px;
  border: none;
  outline: none;
  color: #444;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#iptTime::placeholder {
  color: #838080;
}

#iptTime:focus {
  outline: rgb(179, 131, 226);
}

.btn {
  display: inline-block;
  margin-top: 5%;
  height: 25%;
  width: 30%;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #b5b5b5;
  line-height: 25%;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}
